<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY LOGS CHEQUES</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 w-full max-w-2xl shadow-lg animate-[fadeIn_0.3s_ease-out]">
        <form method="POST" class="grid grid-cols-2 gap-6">
            {% csrf_token %}
            <div class="col-span-1 relative">
                <label for="handledBy" class="block text-sm font-medium  text-gray-700 mb-1">Handled By</label>
                <i class="ri-user-line absolute left-3 top-9 text-indigo-500"></i>
                <!-- <input type="text" id="handledBy" name="handledBy"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    value="{{ request.user.name }}" readonly /> -->
                <select
                    name="called_received_by"
                    id="employee"
                    class="mt-1 px-8 block w-full border-gray-300 shadow-sm focus:border-indigo-500 sm:text-sm py-3 "
                    {% if all_employees|length <= 1 %} disabled {% endif %}
                >
                    {% for employee in all_employees %}
                    <option value="{{ employee.first_name }} {{ employee.last_name }}"
                        {% if employee.first_name|add:' '|add:employee.last_name == called_received_by %} selected {% endif %}>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-span-1 relative">
                <label for="companyName" class="block text-sm font-medium text-gray-700 mb-1">Company Name</label>
                <i class="ri-building-line absolute left-3 top-9 text-green-500"></i>
                <input type="text" id="companyName" name="companyName"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    required />
            </div>
            <div class="col-span-1 relative">
                <label for="bankName" class="block text-sm font-medium text-gray-700 mb-1">Bank Name</label>
                <i class="ri-bank-line absolute left-3 top-9 text-purple-500"></i>
                <input type="text" id="bankName" name="bankName"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    required />
            </div>
            <div class="col-span-1 relative">
                <label for="chequeNumber" class="block text-sm font-medium text-gray-700 mb-1">Cheque Number</label>
                <i class="ri-bank-card-line absolute left-3 top-9 text-red-500"></i>
                <input type="text" id="chequeNumber" name="chequeNumber"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    required />
            </div>
            <div class="col-span-1 relative">
                <label for="chequeAmount" class="block text-sm font-medium text-gray-700 mb-1">Cheque Amount</label>
                <i class="ri-wallet-3-line absolute left-3 top-9 text-gray-500"></i>
                <input type="Number" id="chequeAmount" name="chequeAmount"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    required />
            </div>
            <div class="col-span-1 relative">
                <label for="remarks" class="block text-sm font-medium text-gray-700 mb-1">Remarks</label>
                <i class="ri-chat-1-line absolute left-3 top-9 text-pink-500"></i>
                <input type="text" id="remarks" name="remarks"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200" />
            </div>
            <div class="col-span-1 relative">
                <label for="chequeDate" class="block text-sm font-medium text-gray-700 mb-1">Cheque Date</label>
                <i class="ri-calendar-line absolute left-3 top-9 text-yellow-500"></i>
                <input type="date" id="chequeDate" name="chequeDate"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    required />
            </div>
            <div class="col-span-1 relative">
                <label for="mit" class="block text-sm font-medium text-gray-700 mb-1">Miti</label>
                <i class="ri-calendar-line absolute left-3 top-9 text-indigo-500"></i>
                <input type="text" id="mit" name="mit"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                     />
            </div>
            <div class="col-span-1 relative">
                <label for="reminderEmail" class="block text-sm font-medium text-gray-700 mb-1">Reminder Email</label>
                <i class="ri-mail-send-line absolute left-3 top-9 "></i>
                <input type="text" id="reminderEmail" name="reminderEmail"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200"
                    value="{{ request.user.email }}" readonly />
            </div>
            <div class="col-span-1 relative">
                <label for="extraReminderEmail" class="block text-sm font-medium text-gray-700 mb-1">Extra Reminder
                    Email</label>
                <i class="ri-mail-send-line absolute left-3 top-9 text-purple-500"></i>
                <input type="text" id="extraReminderEmail" name="extraReminderEmail"
                    class="pl-10 pr-3 py-3 w-full border border-gray-200 focus:outline-none focus:border-gray-200" />
            </div>
            <div class="col-span-2">
                <button type="submit"
                    class="w-full bg-blue-600 text-white py-3 px-4 hover:bg-blue-700 focus:outline-none">Submit</button>
            </div>
        </form>
    </div>

    <script>
        // Set today's date as the default value for the Cheque Date input
        window.addEventListener('DOMContentLoaded', (event) => {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            const formattedDate = `${year}-${month}-${day}`;
            document.getElementById('chequeDate').value = formattedDate;
        });
    </script>
</body>

</html>